body{
    display:contents;     
}

.navbar {
    float: right;       /*  float는 밀어줌 -> right으로*/
    margin: 20px
}

.nav-item {
    text-decoration: none;
    color:black;
    font:bold;
    margin-right: 15px;
}

.nav-item:hover {      /* hover: 마우스 커서를 위에 갖다 댔을때*/
    text-decoration: underline;
}

.main {
    margin-top: 80px;
    text-align: center;
}


.input-box {
    width: 550px;
    height: 38px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;    /* 상자 안에 공간을 만들어줌 -> 글자 젤 왼쪽 위치 X*/
    padding-right: 40px;
}

.search-icon{
    position: relative;     /* icon을 상자 안으로 넣어줌*/
    left:40px;
    color: #9aa0a6;
}

.mic-icon{
    position: relative;     /* relative:있던 위치 기준으로 움직임*/
    right:40px;
    color: #9aa0a6;
}

.button-area {
    padding-top:18px;
}

.button-style {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin: 11px 4px;
    font-family: arial, sans-serif;
    padding:0 16px;
}

.button-style:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language-style {
    text-decoration: none;
}

.footer{
    position: absolute; /* 위치한 픽셀로 바로 위치*/
    bottom: 0px;
    background: #f2f2f2;
    width:100%;  /*absolute로 인해 쪼그라든 footer를 펴줌*/
}

.first-line{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0, .54);
    
}

.second-line{
    text-decoration: none;
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0,0,0, .54);
    
}

.second-line-second{
    float:right;
}

.second-line-style{
    text-decoration: none;
    padding: 15px;
}

.second-line-style:hover {
    text-decoration: underline;
}